<footer class="footer">

  <div class="container">

    <!-- LEFT -->
    <div class="footer-left">
      <h3>APK Elite Services</h3>
      <p>
        Providing reliable, high-quality facility management services with
        professionalism and excellence.
      </p>
    </div>

    <!-- MIDDLE -->
    <div class="footer-links">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#home">HOME</a></li>
    <li><a href="#services">SERVICES</a></li>
    <li><a href="#heroSection">ABOUT</a></li>
    <li><a href="#mission">Mission/Vision</a></li>
      </ul>
    </div>

    <!-- RIGHT -->
    <div class="footer-contact">
      <h4>Contact</h4>
     <p>Email: {{email}}</p>
      <p>Phone: +91 {{phone|phone}}</p>
    </div>

  </div>

 
  <div class="footer-bottom">
    <p>
      © {{ currentYear }} APK Elite Services. All Rights Reserved.
    </p>
  </div>

</footer>