<section class="services" id="services">
  <div class="container" >

    <h2 class="title">Our Services</h2>
    <p class="subtitle">
      Find out below how our services can meet your organisation’s needs.
    </p>

   <div 
  class="service-card" 
  *ngFor="let service of arr; let i = index"
  [ngClass]="{ 'reverse': i % 2 !== 0 }"
>

  <!-- IMAGE -->
  <div class="image">
  <img 
   [ngSrc]="service.imageUrl"
  width="400"
  height="300"
  ngSrcset="400w, 800w, 1200w"
  sizes="(max-width: 768px) 100vw, 400px"
  [priority]="i < 2"
  alt="{{ service.title }}"
/>
  </div>

  <!-- CONTENT -->
  <div class="content">
    <h1>{{ service.title }}</h1>

    <!-- SHORT / FULL TEXT -->
    <p>
      {{
        service.expanded
          ? service.description
          : (service.description | slice:0:200) + '...'
      }}
    </p>

    <!-- BUTTON -->
    <button class="btn" (click)="toggle(service)">
      {{ service.expanded ? 'Show Less' : 'Learn More' }}
    </button>
  </div>

</div>

  </div>
</section>