<nav class="navbar">

  <!-- Logo -->
  <div class="logo">
    <div class="logo-box">
      <img src="assets\images\logo-res.png" alt="Logo" height="100%" >
    </div>
    <span>APK Elite Services</span>
  </div>

  <!-- Menu -->
  <ul class="nav-links" [class.active]="menuOpen">
    <li><a href="#home" (click)="closeMenu()">HOME</a></li>
    <li><a href="#services" (click)="closeMenu()">SERVICES</a></li>
    <li><a href="#heroSection" (click)="closeMenu()">ABOUT</a></li>
    <li><a href="#mission" (click)="closeMenu()">Mission/Vision</a></li>
  </ul>

  <!-- Hamburger -->
  <div class="hamburger" (click)="toggleMenu()" aria-label="Toggle navigation menu" role="button" tabindex="0" (keydown.enter)="toggleMenu()">
    ☰
  </div>

</nav>