/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;

  box-sizing: border-box;

  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}
body{
   margin: 0;

  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
@media (max-width: 768px) {
  body{
    margin: 0;
  }
}